<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,700&display=swap" rel="stylesheet">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to gitPub!</h1>

    <ul>
        
        <% for (let i = 0; i < drinks.length; i++){ %>
            <a href="/drinks/<%= i %>"><li id="drink-names"><img src="<%= drinks[i].image %>.png"><%= drinks[i].name %></li></a>
        <% } %>

    </ul>

    <style>

        body {
            color: blanchedalmond;
            background-color: rgb(105, 36, 36);
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 800px;
        }

        #drink-names {
            width: 200px;
            height: 200px;
            text-transform: capitalize;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            padding: 10px 20px;
        }

        a:link, a:visited {
            color: blanchedalmond
        }

        a:active {
            color: goldenrod;
        }

    </style>
</body>
</html>