<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,700&display=swap" rel="stylesheet">
    <title>GitPub</title>
</head>
<body>
    <h1>At Foo Bar</h1>
    <img src="<%= drink.image %>.png">
    <div>
        <h2><%= drink.name %></h2>
        <h3>$<%= drink.price %></h3>     
    </div>

    <a href="/drinks">Back to main page</a>

    <style>
        body {
            color: blanchedalmond;
            background-color: rgb(105, 36, 36);
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }

        div {
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        h2 {
            text-transform: capitalize;
        }
        img {
            width: 300px;
        }
        a:link, a:visited {
            color: blanchedalmond
        }
        a:active {
            color: goldenrod;
        }
    </style>
</body>
</html>